@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Nunito";
}


.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(159, 159, 159);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
